.container {
    margin: 50px auto;
    padding: 40px 20px;
    width: 800px;
}

#task-description {
    font-size: 18px;
}

ul li {
    font-size: 18px;
}

#btn-delete {
    border: none;
    background: none;
    color: brown;
}