.container {
    margin: 50px auto;
    padding: 40px 20px;
    width: 800px;
}

#task-description {
    font-size: 18px;
}

ul li {
    font-size: 18px;
}

#btn-deleteTask, 
#btn-updateTask {
    border: none;
    background: none;
}

#task {
    border-radius: 30px;
    margin-bottom: 10px;
}